body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
section{
    display: flex;
    margin-bottom: 100px;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    background-position: left;
}
.half-width{
    width: 100%;
    margin: 0 4%;
    padding-left: 2%;
}
.half-width img{
    width: 90%;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}
p{
    color: #747171;
    text-align: justify;
}
.orange-color{
    color: orange;
}
.link-button{
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 15px;
    background-image: linear-gradient(tomato, orange);
}
.dream-big-area{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
#dream-text{
    padding-right: 5%;
}