body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
section{
    margin-bottom: 100px;
}
#flex-container{
    display: flex;
    margin: 0 2%;
    margin-bottom: 100px;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    background-position: left;
}
.half-width{
    width: 100%;
    margin: 0 4%;
    padding: 0 2%;
}
.half-width img{
    width: 90%;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 35px;
}
p{
    color: #747171;
    text-align: justify;
}
.orange-color{
    color: orange;
}
.link-button{
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 15px;
    background-image: linear-gradient(tomato, orange);
}
.dream-big-area{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
#dream-text{
    padding-right: 5%;
}
.Experiences-area{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
#experiences-box-1{
    box-shadow: 10px 10px 40px gray;
    padding: 0 3%;
    border-image: linear-gradient(tomato, orange);
    border-image-slice: 1;
    border-left: 5px solid;
}
#experiences-box-2{
    box-shadow: 10px 10px 40px gray;
    padding:0 3%;
    border-image: linear-gradient(blue, cyan);
    border-image-slice: 1;
    border-left: 5px solid;
}
footer p{
    text-align: center;
}